@tailwind base;
@tailwind components;
@tailwind utilities;

button,
[type='button'] {
  background-color: #1677ff;
  color: #ffffff;
}
button,
[type='button']:hover {
  background-color: #1677ffa3;
  color: #ffffff !important;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #1677ff;
  color: #ffffff;
}

.login-form button[type='submit'] {
  background-color: #1677ff;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-modal-close{
    color: red !important;
}

.ant-modal-close:hover{
    color: white !important;
    background-color: red !important;
}

.ant-btn.ant-btn-block:hover{
    background-color: darkblue !important;
    color: white !important; 
}

.ant-pagination-item-link{
  color: #1677ff !important;
}

.ant-pagination-item-link:hover{
  color: #ffffff !important;
background-color: #1677ff !important;
}


 .ant-picker-header button {
    color: #1677ff !important;
 }

  .ant-picker-header button:hover {
     color: #066cfb !important;
 }
.history-modal {
 max-height: 500px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  scrollbar-width: none;
}

.history-tree {
  display: flex;
  flex-direction: column;
}

.history-node {
  margin-bottom: 20px;
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

.fullname {
  font-weight: bold;
}

.timestamp-date {
  display: flex;
  align-items: center;
}

.timestamp {
  margin-right: 10px;
}

.date {
  margin-left: 10px;
}

.node-content {
  margin-top: 10px;
}

.change-details {
  font-size: 14px;
}

.change-table {
  width: 100%;
}

.change-key {
  padding-right: 10px;
  text-align: right;
}

.old-value {
  color: #888;
  padding-right: 10px;
}

.change-arrow {
  padding: 0 5px;
}

.new-value {
  color: #333;
}
.green-bullet {
    color: green;
    font-size: 1rem; /* Adjust the size as needed */
}


.ant-drawer-header {
  background-color: #D8F7C9;
}


:where(.css-dev-only-do-not-override-1k979oh).ant-drawer .ant-drawer-close {
  color:  red !important;
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-drawer .ant-drawer-close:hover {
  color:  red !important;
  font-size: 22px;
 background-color: transparent;
}