@tailwind base;
@tailwind components;
@tailwind utilities;

button,
[type='button'] {
  background-color: #1677ff;
  color: #ffffff;
}
button,
[type='button']:hover {
  background-color: #1677ffa3;
  color: #ffffff !important;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #1677ff;
  color: #ffffff;
}

.login-form button[type='submit'] {
  background-color: #1677ff;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-modal-close{
    color: red !important;
}

.ant-modal-close:hover{
    color: white !important;
    background-color: red !important;
}

.ant-btn.ant-btn-block:hover{
    background-color: darkblue !important;
    color: white !important; 
}

.ant-pagination-item-link{
  color: #1677ff !important;
}

.ant-pagination-item-link:hover{
  color: #ffffff !important;
background-color: #1677ff !important;
}